// animation

@keyframes img_shine {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes roll {
  0% {
    transform: rotate(0);
  }
  50%,
  100% {
    transform: rotate(360deg);
  }
}

@keyframes buttonRoll {
  0% {
    transform: rotate(0);
  }
  50%,
  100% {
    transform: rotate(180deg);
  }
}

@keyframes approach-from-right {
  0% {
    opacity: 0;
    transform: translateX(40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes approach-from-left {
  0% {
    opacity: 0;
    transform: translateX(-40px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes approach-from-top {
  0% {
    opacity: 0;
    transform: translateY(-40px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bubble {
  0% {
    transform: translate(15px, 30px);
  }
  33% {
    transform: translate(-5px, 20px);
  }
  66% {
    transform: translate(10px, 15px);
  }
  100% {
    transform: translate(0px, 0);
  }
}

@keyframes bubble-reverse {
  0% {
    transform: translate(-15px, 30px);
  }
  33% {
    transform: translate(5px, 20px);
  }
  66% {
    transform: translate(-10px, 15px);
  }
  100% {
    transform: translate(0px, 0);
  }
}

@keyframes bubble-reverse2 {
  0% {
    transform: translate(18px, 33px);
  }
  33% {
    transform: translate(3px, 18px);
  }
  66% {
    transform: translate(-12px, 13px);
  }
  100% {
    transform: translate(0px, 0);
  }
}

@keyframes sonarEffect {
  0% {
    opacity: 0.3;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #fff,
      0 0 0 10px rgba(255, 255, 255, 0.5);
  }
  40% {
    opacity: 0.5;
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #fff,
      0 0 0 10px rgba(255, 255, 255, 0.5);
  }
  100% {
    box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.1), 0 0 10px 10px #fff,
      0 0 0 10px rgba(255, 255, 255, 0.5);
    transform: scale(1.2);
    opacity: 0;
  }
}

